*{
    font-family: 'Roboto', sans-serif;
}

*::selection{
    background-color: #d9b38c;
}

body{
    background: #e6e6ff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.centerform{
    background: white;
    width: 400px;
    padding: 50px;
    margin: 8% auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.01);
    text-align: center;
}

/*Input Styles*/
input{
    width: 90%;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 40px;
    border-color: transparent;
    border: 1px solid #130d06;
    outline: none;
    position: relative;
    padding-left: 20px;
}

input::placeholder{
    color: #130d06;
}

/*Button Styles*/
button{
    background: #ac7339;
    color: white;
    border: transparent;
    padding: 15px;
    width: 200px;
    border-radius: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

button:hover{
    background: #bf8040;
    cursor: pointer;
}

button:active{
    transform: translateY(-3px);
}

.signin{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
}

/*Media Queries*/
@media screen and (max-width: 550px) {
    div.centerform{
        width: 70%;
        margin: 50% auto;
        margin-bottom: 0;
    }

    div.signin{
        width: 90%;
    }
}